html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: white;
	font-size: 14px;
	line-height: 22px;
	font-family: Arial;
	height: 100%;
}

.container {
	width: 1000px;
	min-width: 960px;
	max-width: 1024px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
}
/* header styles */
header {
	height: 108px;
	background-color: rgba(119, 119, 119, 0.4);
	padding: 20px;
}

header .logo {
	position: absolute;
}

header .contacts {
	width: 279px;
	background-color: #777777;
	height: 100%;
	float: left;
	margin-left: 145px;
}

header .more {
	width: 513px;
	background-color: #777777;
	height: 100%;
	float: right;
}

/* main content styles */
.contant {
	padding-bottom: 50px;
}

/* footer styles */
footer {
	height: 180px;
	width: 960px;
	position: absolute;
	bottom: 0;
	background-color: rgba(119, 119, 119, 0.4);
	padding: 20px;
}

footer .items {
	width: 297px;
	background-color: #777777;
	height: 100%;
	float: left;
}

footer .rates {
	width: 297px;
	background-color: #777777;
	height: 100%;
	float: left;
	margin-left: 29px;
}

footer .content {
	width: 308px;
	background-color: #777777;
	height: 75px;
	float: right;
}

footer .logo {
	width: 308px;
	height: 77px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}